* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-image: url('../img/dogs.jpg');
    font-family: 'Segoe UI', Verdana, sans-serif;
    color: #888383;
}
.container {
    margin: 250px 0 20px 150px;
}
.title {
    font-size: 80px;
}
.subtitle {
    margin: 20px 0 50px 0;
    font-size: 30px;
}