* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #e6e4e4;
    font-family: cursive, serif;
}
.main {
    margin: 20px auto;
    padding: 20px;
    width: 80%;
    height: 500px;
    background-color: #fff;
}