:root {
  --primary-font: "Ubuntu", Arial, sans-serif;
  --header-primary-color: #2c3e50;
  --header-border-color: #f1c40f;
  --white-color: #ffffff;

  --nav-background-color:#34495e;
  
  --main-background-color:#ecf0f1;

  --section-background-color: #f9f9f9;
  --section-border-color: #16a085;
  
  --aside-background-color: #fdf9e7;
  --aside-border-color: #e67e22;
  
  --footer-background-color: #2c3e50;
  
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: var(--primary-font);
  width: 100%;
  min-height: 100vh; 
  display: flex;
  flex-direction: column;
}