* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    text-align: center;
}

.header {
    background-color: #6495ed;
    padding: 20px;
    height: 60px;
}

i {
    color: #fff;
    margin-right: 20px;
}